<div class="card">
    <div class="card-body">
        <h2>Add Your Recipe!</h2>
        <form class="needs-validation">
            <div>
            <label for="title" class="form-label">Recipe Title</label>
            <input type="text" id="title" class="form-control col-sm-5" [(ngModel)]="title" required>
            </div>

            <div>
            <label for="body" class="form-label">Instructions</label>
            <textarea class="form-control" id="body" [(ngModel)]="body" required></textarea>
            </div>

            <div class="mt-2">
                <input type="button" id="add-recipe-btn" class="btn btn-dark" value="Add Recipe" (click)="addRecipe()">
            </div>
        </form>
    </div>
</div>
