<div id="main-edit" class="card" *ngIf="show">
    <div id="title-div">
        <label for="title.id">Title</label>
        <br>
        <input id="title.id" type="text" [(ngModel)]="title">
    </div>
    <div id="body-div">
        <label for="body.id">Body</label>
        <br>
        <textarea id="body.id" rows="10" cols="100" [(ngModel)]="body"></textarea>
    </div>
    <div id="btn-div">
        <button class="button" class="btn btn-dark" (click)="cancelEdit()">Cancel</button>
        <button class="button" class="btn btn-dark" (click)="editRecipe()">Submit</button>
    </div>
</div>

