<!-- No Recipes -->
<div *ngIf="!recipeList[0]">
    <h1>You don't have any recipes yet!</h1>
</div>

<!-- Recipe Card View -->
<ul *ngIf="recipeList" class="nav nav-tabs" id="myTab" role="tablist" style="overflow-y: scroll; max-height: 10em;">
    <li class="nav-item border border-dark" role="presentation" *ngFor="let recipe of recipeList">
        <button class="nav-link" id="${recipe.id}-tab" [class.active]="selected===recipe" (click)="selected=recipe"
            data-bs-toggle="tab" data-bs-target="#${recipe.id}" type="button" role="tab" aria-controls="${recipe.id}" aria-selected="true">
            <span class="recipe-tab">{{recipe.title}}</span>
        </button>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade" id="${recipe.id}" role="tabpanel" aria-labelledby="${recipe.id}-tab"
    *ngFor="let recipe of recipeList" [ngClass]="{'show active' : selected===recipe}">
        <div class="container-fluid p-3 border border-dark bg-light w-100" style="height: 25em;">
            <p class="recipe-body">{{recipe.body}}</p>
            <p class="float-right"><app-recipe-delete [recipe]="recipe" (delete)="deleteRecipe($event)"></app-recipe-delete></p>
        </div>
    </div>
</div>


<!-- <table class="table table-hover" style="empty-cells: show;">
    <thead>
       <tr>
           <th scope="col">Name</th>
           <th scope="col">Description</th>
           <th scope="col">Date</th>
           <th scope="col">Options</th>
       </tr>
    </thead>
    <tbody>
        <tr *ngFor="let recipe of recipeList" scope="row">
             <td>{{recipe.title}}</td>
             <td>{{recipe.body}}</td> 
             <td>{{recipe.date}}</td>
             <td><app-recipe-delete [recipe]="recipe" (delete)="deleteRecipe($event)"></app-recipe-delete></td>
        </tr>
    </tbody>
</table>  -->
